<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDfa_L0d9Th7ecVm6zrbzDZms1Ad-uB7QY</string>
	<key>GCM_SENDER_ID</key>
	<string>103069901085</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.login.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>loginpage-158b8</string>
	<key>STORAGE_BUCKET</key>
	<string>loginpage-158b8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:103069901085:ios:d359ba1e2121485eec01f4</string>
	<key>DATABASE_URL</key>
	<string>https://loginpage-158b8-default-rtdb.firebaseio.com</string>
</dict>
</plist>